body {
    background-image: url("10.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: 500px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: green;
}

.section {
    padding: 40px;
}

.skill {
    margin-right: 20px;
    text-align: center;
}

.skill-name {
    margin-top: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.skills-container {
    display: flex;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social {
    list-style-type: none;
    padding: 0;
}

.social li {
    display: inline;
    margin-right: 10px;
}

.social li a {
    color: #fff;
    text-decoration: none;
}

.social li a:hover {
    color: green;
}

.watermark {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2; /* Adjust opacity as needed */
}
